<!-- Mike Prelesnik
     1/11/19
     Dating Website
     The homepage for the dating website
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start Dating Now!</title>
</head>
<body>
    <h1>Perfect Match</h1>
    <p>Welcome to the world's best dating website! Using this website, you will find like-minded individuals
    guaranteed to be your perfect match. We have the highest success rate of any other competing site on
    the web. Our specialty is to match by hobbies and interests and a location near you! Below
    you can see what users have to say about our site and their success stories.</p>

    <p>"I met the love of my life in just a month of using this site!" -Andrea</p>
    <p>"I didn't realize it would be so easy to create a profile and to be instantly
    matched with people that have such similar interests and hobbies!" -John</p>
    <p>"I will never try another dating site after my success with this one!" -Sarah</p>

    <img src="../images/homepageImage.jpg">
</body>
</html>