<!-- Mike Prelesnik
     1/11/19
     Dating Website
     The homepage for the dating website
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start Dating Now!</title>
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript and Bootstrap-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="col-sm-6">
        <h1>Perfect Match</h1>
        <p>Welcome to the world's best dating website! Using this website, you will find like-minded individuals
            guaranteed to be your perfect match. We have the highest success rate of any other competing site on
            the web. Our specialty is to match by hobbies and interests and a location near you!</p>

        <div id="subHeading">
            <p>Below you can see what users have to say about our site and their success stories.</p>
        </div>

        <div>
            <p>"I met the love of my life in just a month of using this site!" -Andrea</p>
            <p>"I didn't realize it would be so easy to create a profile and to be instantly
                matched with people that have such similar interests and hobbies!" -John</p>
            <p>"I will never try another dating site after my success with this one!" -Sarah</p>
        </div>

        <div id="button">
            <button type="button" class="btn btn-primary">Create a Profile!</button>
        </div>

    </div>

    <div class="col-sm-6">
        <img src="../images/homepageImage.jpg" alt="a happy couple" class="rounded">
    </div>
</body>
</html>