<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interests</title>
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript and Bootstrap-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-light bg-light">
            <a href="/328/dating">My Dating Website</a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
        </nav>
    </div>
    <br>

    <div class="container border border-info img-rounded">
        <div class="container col-sm-12">
            <h1 class="PIheader">Interests</h1>
            <hr>
        </div>

        <form method="POST" action="#">
            <label>In-door Interests</label><br>
            <repeat group="{{@indoor}}" value="{{@item}}">
                <div class="col-sm-3">
                    <input type="checkbox" value="{{@item}}" name="indoor[]">{{@item}}
                </div>

            </repeat><br>
            <label>Out-door Interests</label><br>
            <repeat group="{{@outdoor}}" value="{{@item}}">
                <div class="col-sm-3">
                    <input type="checkbox" value="{{@item}}" name="outdoor[]">{{@item}}
                </div>
            </repeat><br><br><br>

            <input class="btn btn-primary float-right" type="submit" value="Submit" name="submitButton">
        </form>
    </div>
</body>
</html>