<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Info</title>
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript and Bootstrap-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-light bg-light">
            <a href="/328/dating">My Dating Website</a>
            <a href="/328/dating/admin">Admin</a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
        </nav>
    </div>
    <br>

    <div class="outerContainer container border border-info img-rounded">
        <div class="container col-sm-12">
            <h1 class="PIheader">Personal Information</h1>
            <hr>
        </div>

        <check if="{{ isset(@errors['fname']) }}">
            <p>{{ @errors ['fname']}}</p>
        </check>
        <check if="{{ isset(@errors['lname']) }}">
            <p>{{ @errors ['fname']}}</p>
        </check>
        <check if="{{ isset(@errors['age']) }}">
            <p>{{ @errors ['age']}}</p>
        </check>
        <check if="{{ isset(@errors['phone']) }}">
            <p>{{ @errors ['phone']}}</p>
        </check>

        <div class="container col-sm-9">
            <form method="POST" action="#">
                <label>
                    First Name<br>
                    <input class="PItextbox" type="text" name="fname" value="{{@POST.fname}}">
                </label><br>

                <label>
                    Last Name<br>
                    <input class="PItextbox" type="text" name="lname" value="{{@POST.lname}}">
                </label><br>

                <label>
                    Age<br>
                    <input class="PItextbox" type="number" name="age" value="{{@POST.age}}">
                </label><br>

                <label>
                    Gender<br>
                    <check if="{{@POST.gender == male}}">
                        <true>
                            <input type="radio" name="gender" value="male" checked="checked">Male
                        </true>
                        <false>
                            <input type="radio" name="gender" value="male">Male
                        </false>
                    </check>

                    <check if="{{@POST.gender == female}}">
                        <true>
                            <input type="radio" name="gender" value="female" checked="checked">Female
                        </true>
                        <false>
                            <input type="radio" name="gender" value="female">Female
                        </false>
                    </check>

                </label><br>

                <label>
                    Phone Number<br>
                    <input class="PItextbox" type="number" name="phone" value="{{@POST.phone}}">
                </label><br>

                <label>
                    Premium Membership<br>
                    <input type="checkbox" value="premium" name="premium" >Sign me up for a Premium Account!
                </label>

                <input class="PIbutton btn btn-primary" type="submit" value="Next">
            </form>
        </div>
        <div class="disclaimer container col-sm-3 border img-rounded">
                <p>Note: All information entered is protected by our privacy policy. <br>
                Profile information can only be viewed by others with your permission.</p>
        </div>
    </div>




</body>
</html>