<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Info</title>
    <link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript and Bootstrap-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>Personal Information</h1>
    <form method="POST" action="#">
        <label>
            First Name<br>
            <input type="text" name="fname">
        </label><br>

        <label>
            Last Name<br>
            <input type="text" name="lname">
        </label><br>

        <label>
            Age<br>
            <input type="number" name="age">
        </label><br>

        <label>
            Gender<br>
            <input type="radio" name="gender" value="male">Male
            <input type="radio" name="gender" value="female">Female
        </label><br>

        <label>
            Phone Number<br>
            <input type="number" name="phone">
        </label><br>

        <div id="button">
            <button type="button" class="btn btn-primary">Next</button>
        </div>


    </form>
</body>
</html>