<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript and Bootstrap-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-light bg-light">
            <a href="/328/dating">My Dating Website</a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
        </nav>
    </div>
    <br>

    <div class="container border border-info img-rounded">
        <div class="container col-sm-12">
            <h1 class="PIheader">Profile</h1>
            <hr>
        </div>

        <form method="POST" action="#" id="profile">

            <div class="container col-sm-6">
                <div>
                    <label>
                        Email<br>
                        <input type="text" name="email">
                    </label><br>

                    <label>
                        State<br>
                        <select name="state">
                            <repeat group="{{@states}}" value="{{@state}}">
                                <option value="{{@state}}">{{@state}}</option>
                            </repeat>
                        </select>
                    </label><br>

                    <label>
                        Seeking<br>
                        <input type="radio" name="seeking" value="male">Male
                        <input type="radio" name="seeking" value="female">Female
                    </label><br>
                </div>
            </div>
            <div class="container col-sm-6">
                <div>
                    <label>
                        Biography<br>
                        <textarea rows="4" cols="50" name="bio" form="profile"></textarea>
                    </label><br>
                </div>
                <input class="btn btn-primary float-right" type="submit" value="Next">
            </div>
        </form>
    </div>
</body>
</html>