<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Summary</title>
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript and Bootstrap-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-light bg-light">
            <a href="/328/dating">My Dating Website</a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
        </nav>
    </div>
    <br>

    <div class="container border border-info img-rounded">
        <div class="col-sm-6">
            <table>
                <tr>
                    <td>Name: {{@SESSION.fname}} {{@SESSION.lname}}</td>
                </tr>
                <tr>
                    <td>Gender: {{@SESSION.gender}}</td>
                </tr>
                <tr>
                    <td>Age: {{@SESSION.age}}</td>
                </tr>
                <tr>
                    <td>Phone: {{@SESSION.phone}}</td>
                </tr>
                <tr>
                    <td>Email: {{@SESSION.email}}</td>
                </tr>
                <tr>
                    <td>State: {{@SESSION.state}}</td>
                </tr>
                <tr>
                    <td>Seeking: {{@SESSION.seeking}}</td>
                </tr>
                <tr>
                    <td>Interests: {{@SESSION.interests}}</td>
                </tr>
            </table>
        </div>

        <div class="col-sm-6">
            <img id="noProfilePic" src="images/noProfilePic.jpg" alt="a default profile pic">
            <h3 id="bioHead">Biography</h3>
            <p id="biography">{{@SESSION.bio}}</p>
        </div>

        <div class="col-sm-12">
            <div id="button" class="float-center">
                <button type="button" class="btn btn-primary">Contact Me!</button>
            </div>
        </div>
    </div>
</body>
</html>