<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Summary</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <td>Name: </td>
            </tr>
            <tr>
                <td>Gender: </td>
            </tr>
            <tr>
                <td>Age: </td>
            </tr>
            <tr>
                <td>Phone: </td>
            </tr>
            <tr>
                <td>Email: </td>
            </tr>
            <tr>
                <td>State: </td>
            </tr>
            <tr>
                <td>Seeking: </td>
            </tr>
            <tr>
                <td>Interests: </td>
            </tr>
        </table>
    </div>

    <div>
        <img src="../images/noProfilePic.jpg" id="noProfilePic">
        <h3>Biography</h3>
    </div>

</body>
</html>