/*
Mike Prelesnik
1/11/19
Dating Website
Styles for the dating website
 */

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

#button {
    text-align: center;
}

#subHeading {
    font-size: 1.1em;
    font-weight: bold;
}

img {
    width: 130%;
}

.PItextbox {
    width: 500px;
}

.disclaimer {
    padding-top: 20px;
    background-color: #e6e6e6;
}

.PIheader {
    text-align: left;
}

.PIbutton {
    position: absolute;
    right: 10px;
}

.outerContainer {
    height: 400px;
    overflow: auto;
}

table, th, td {
    border: 1px solid black;
}