/*
Mike Prelesnik
1/11/19
Dating Website
Styles for the dating website
 */

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

#button {
    text-align: center;
}

#subHeading {
    font-size: 1.1em;
    font-weight: bold;
}

img {
    width: 130%;
}

.disclaimer {
    padding-top: 60px;
}

.PIheader {
    text-align: left;
}

